<!--<td [ngStyle]="{  'background': localeHistoryModel.editColor }">
    {{localeHistoryModel.editColor}}{{localeHistoryModel.problem}}myDiv{{theIndex}}myDiv
</td>-->
<table>
                        <tr *ngIf="theIndex == 0">
                        <th style="text-align:left;">Name</th>
                        <th style="text-align:left;">Lattitude</th>
                        <th style="text-align:left;">Longitude</th>
                        <th style="text-align:left;">DB Updated</th>
                        <th></th>
                    </tr>
<tr class="copy2" [ngStyle]="{  'background': localeHistoryModel.editColor }" >
    <td style="width:150px;">
        <input *ngIf="localeHistoryModel.isEditable" style="width:150px;" [(ngModel)]="localeHistoryModel.name" [disabled]="localeHistoryModel.isDisabled == null ? false : localeHistoryModel.isDisabled"
        />
        <div class="adtooltip">
            <div id="myDiv{{theIndex}}" *ngIf="!localeHistoryModel.isEditable"
                style="width:150px;white-space:nowrap; overflow:hidden;">{{localeHistoryModel.name}}</div>
        </div>
    </td>


    <td style="width:150px;">
        <input *ngIf="localeHistoryModel.isEditable" style="width:150px;" [(ngModel)]="localeHistoryModel.lattitude" [disabled]="localeHistoryModel.isDisabled == null ? false : localeHistoryModel.isDisabled"
        />
        <div class="adtooltip">
            <div *ngIf="!localeHistoryModel.isEditable" style="width:150px;white-space:nowrap; overflow:hidden;">{{localeHistoryModel.lattitude}}</div>
        </div>
    </td>

    <td style="width:150px;">
        <input *ngIf="localeHistoryModel.isEditable" style="width:150px;" [(ngModel)]="localeHistoryModel.longitude" [disabled]="localeHistoryModel.isDisabled == null ? false : localeHistoryModel.isDisabled"
        />
        <div class="adtooltip">
            <div *ngIf="!localeHistoryModel.isEditable" style="width:150px;white-space:nowrap; overflow:hidden;">{{localeHistoryModel.longitude}}</div>
        </div>
    </td>
    
    <td style="width:130px;">
        <div style="width:110px;white-space:nowrap;">{{localeHistoryModel.dbUpdated | date:'dd/MM/yyyy @ HH:mm'}}</div>
    </td>


    <td>
        <button class="btn btn-primary btn-xs" [disabled]="localeHistoryModel.isDisabled == null ? false : localeHistoryModel.isDisabled" (click)="editLocaleHistory(localeHistoryModel)"
            *ngIf="!localeHistoryModel.isEditable">Edit</button>
        <button class="btn btn-primary btn-xs" [disabled]="localeHistoryModel.isDisabled == null ? false : localeHistoryModel.isDisabled" (click)="updateLocaleHistory(localeHistoryModel)"
            *ngIf="localeHistoryModel.isEditable">Update</button>
    </td>
    <td>
        <button class="btn btn-primary btn-xs" [disabled]="localeHistoryModel.isDisabled == null ? false : localeHistoryModel.isDisabled" (click)="deleteLocaleHistory(localeHistoryModel)"
            *ngIf="!localeHistoryModel.isEditable">Delete</button>
        <button class="btn btn-primary btn-xs" [disabled]="localeHistoryModel.isDisabled == null ? false : localeHistoryModel.isDisabled" (click)="cancelLocaleHistory(localeHistoryModel, key)"
            *ngIf="localeHistoryModel.isEditable">Cancel</button>
    </td>

    <!--<td>
        <button (click)="setLocaleHistory(localeHistoryModel)">Inside.submit(localeHistory)</button>
    </td>-->
    
    </tr>
</table>

 <!--[ngStyle]="{ 'color': 'white', 'font-size': '14px', 'font-weight': 'bold'}"-->


