<div class="container">
    <div class="row">
        <div *ngFor="let o of genericRecords; let i = index" >
            <button>{{o._id}}</button>
                     <button>{{o.problem}}</button>
        </div>


        <!--<users-item *ngFor="let user of users; let i = index" [userModel]="user" [theIndex]="i" ></users-item>-->
    </div>
    <div style="text-align:right;width:100%;">
        <button (click)="showDialog(0)" class="btn btn-primary btn-sm">Add Generic!</button>
    </div>


</div>