<!--<td [ngStyle]="{  'background': staffModel.editColor }">
    {{staffModel.editColor}}{{staffModel.problem}}myDiv{{theIndex}}myDiv---{{'#myModal'+ '1'}}
</td>-->

<p-modal header="Staff Maintenance: {{staffModel.name}}" responsive="true" [(visible)]="display" width="600">

      <staffs-form [staffModelItem]="staffModel" [action]="action"  (HideDialogEvent)="hideDialog($event)"> </staffs-form>
      
  
</p-modal>

<p-xxxx header="Staff Maintenance: {{staffModel.name}}" [(visible)]="displayDeleteModal" width="500">

 <staffs-form [staffModelItem]="staffModel" [action]="'delete'"  
  (DeleteObjectEvent)="deleteStaff($event)"
  (HideDialogEvent)="hideDialog($event)"> </staffs-form>
      
  
</p-xxxx>

<div  class="col-md-4" style="color:wheat;border-width:2px; border-style:solid; border-radius:6px;text-align:center">
    <div style="border-style:none; border-width:2px; border-color:white; border-radius:4px; width:100%; background:transparent">

        <table style="width:100%; position:relative; background-color:transparent;">
            <tr>
                <td>

                    <div style="text-align:center; width:100%; height:100%;font-size:1.25em">
                        {{staffModel.name}}
                    </div>

                </td>
            </tr>
            <tr>
                <td>

                    <div style="text-align:center; width:100%; height:100%;">
                        <img [(src)]="staffModel.imageAsData" />
                    </div>

                </td>
            </tr>
                    </table>

        <table style="background-color:#D00A00;">

            <tr style="">

                <td style="width:100%;vertical-align:top; padding:0px 10px 0px 0px">

                    <table style="width:100%; height:100%;">
                        <tr [ngStyle]="{  'background': staffModel.editColor }">
                            <td style="width:150px;">
                                <input *ngIf="staffModel.isEditable" style="width:150px;background:white; color:black;" [(ngModel)]="staffModel.name" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"/>
                                <div >
                                    <div id="myDiv{{theIndex}}" *ngIf="!staffModel.isEditable" style="width:150px;white-space:nowrap; overflow:hidden;"></div>
                                </div>
                            </td>

                        </tr>
                    </table>

                </td>


                <td style="background-color:transparent;vertical-align:top; white-space:nowrap">

                    <button style="color:white;background-color:#D00A00;" class="btn btn-primary btn-xs" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"
                        (click)="editStaff(staffModel)" *ngIf="!staffModel.isEditable">Edit</button>

                    <button style="color:white;background-color:#D00A00;" class="btn btn-primary btn-xs" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"
                        (click)="updateStaff(staffModel)" *ngIf="staffModel.isEditable">Update</button>

                    <button style="color:white;background-color:#D00A00;" class="btn btn-primary btn-xs" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"
                       (click)="showDialog('delete')" 
                        *ngIf="!staffModel.isEditable">Delete</button>

                    <button style="color:white;background-color:#D00A00;" class="btn btn-primary btn-xs" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"
                        (click)="cancelStaff(staffModel, key)" *ngIf="staffModel.isEditable">Cancel</button>

                    <!--<button style="color:white;background-color:#D00A00;" class="btn btn-primary btn-xs" data-toggle="modal" [attr.data-target]="'#myStaffFormModal' + theIndex"
                        (click)="doModal($event)" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"
                        *ngIf="!staffModel.isEditable">Run</button>-->

                    <button style="color:white;background-color:#D00A00;" class="btn btn-primary btn-xs" 
                        [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"
                        *ngIf="!staffModel.isEditable" (click)="showDialog('update')" >Modify</button>

                </td>


            </tr>
        </table>

    </div>

</div>

<div id="myStaffFormModal{{theIndex}}" class="modal fade" role="dialog" style="background:transparent;width:50%;margin-left: 25%; margin-right: 25%;text-align:center">

    <staffs-form-modal [staffModelItem]="staffModel" style="background:red;width:100%;"></staffs-form-modal>
</div>

<!--<table>
    <tr *ngIf="theIndex == 0">
        <th style="text-align:left;">Name</th>
        <th style="text-align:left;">Status</th>
        <th style="text-align:left;">Phone</th>
        <th style="text-align:left;">Expiry Date</th>
        <th></th>
    </tr>
    <tr class="copy2" [ngStyle]="{  'background': staffModel.editColor }">
        <td style="width:150px;">
            <input *ngIf="staffModel.isEditable" style="width:150px;" [(ngModel)]="staffModel.name" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"
            />
            <div class="adtooltip">
                <div id="myDiv{{theIndex}}" *ngIf="!staffModel.isEditable" style="width:150px;white-space:nowrap; overflow:hidden;">{{staffModel.name}}</div>
            </div>
        </td>


        <td style="width:150px;">
            <input *ngIf="staffModel.isEditable" style="width:150px;" [(ngModel)]="staffModel.status" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"
            />
            <div class="adtooltip">
                <div *ngIf="!staffModel.isEditable" style="width:150px;white-space:nowrap; overflow:hidden;">{{staffModel.status}}</div>
            </div>
        </td>

        <td style="width:150px;">
            <input *ngIf="staffModel.isEditable" style="width:150px;" [(ngModel)]="staffModel.phone" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled"
            />
            <div class="adtooltip">
                <div *ngIf="!staffModel.isEditable" style="width:150px;white-space:nowrap; overflow:hidden;">{{staffModel.phone}}</div>
            </div>
        </td>

        <td style="width:130px;">
            <div style="width:110px;white-space:nowrap;">{{staffModel.expiryDate | date:'dd/MM/yyyy @ HH:mm'}}</div>
        </td>


        <td>
            <button class="btn btn-primary btn-xs" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled" (click)="editStaff(staffModel)"
                *ngIf="!staffModel.isEditable">Edit</button>
            <button class="btn btn-primary btn-xs" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled" (click)="updateStaff(staffModel)"
                *ngIf="staffModel.isEditable">Update</button>
        </td>
        <td>
            <button class="btn btn-primary btn-xs" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled" (click)="deleteStaff(staffModel)"
                *ngIf="!staffModel.isEditable">Delete</button>
            <button class="btn btn-primary btn-xs" [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled" (click)="cancelStaff(staffModel, key)"
                *ngIf="staffModel.isEditable">Cancel</button>
        </td>


        <td>
            <button id="myButton" class="btn btn-primary btn-xs" data-toggle="modal" [attr.data-target]="'#myModal' + theIndex" (click)="doModal($event)"
                [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled" *ngIf="!staffModel.isEditable">Run</button>

        </td>

        <td>
            <button id="myButton" class="btn btn-primary btn-xs" data-toggle="modal" [attr.data-target]="'#myStaffFormModal' + theIndex" (click)="doModal($event)"
                [disabled]="staffModel.isDisabled == null ? false : staffModel.isDisabled" *ngIf="!staffModel.isEditable">Run</button>

        </td>
<td>
          <img [src]="staffModel.imageAsData" />
    </td>
    

    </tr>
</table>-->