<div class="jumbotron" style="background-color:transparent; max-height:180px;">

    <table>
        <tr>
            <td><img src="/media/Admir01-BlackBackground.png" style="width:125px; height:125px;" /></td>
            <td style="vertical-align:top"><h1 style="color:wheat">My HomeView page</h1></td>
        </tr>
    </table>



</div>


<div style="height: 100%; width: 100%; color: wheat; background-color:transparent;">
    <p style="font-size:40px;">
        Attack on ONE of us Is an Attack on us ALL
    </p>



</div>
       <bugs-list></bugs-list>

   <div *ngFor="let role of roles; let i = index"  >
       {{role}}
   </div>
   
    <span dropdown (on-toggle)="toggled($event)">
    <a href id="simple-dropdown" dropdownToggle>
      Click me for a dropdown, yo!
    </a>
    <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
      <li *ngFor="let choice of items">
        <a class="dropdown-item" href="#">{{choice}}</a>
      </li>
    </ul>
  </span>
  
   <!-- Single button -->
  <div class="btn-group" dropdown [(isOpen)]="status.isopen">
    <button id="single-button" type="button" class="btn btn-primary" dropdownToggle [disabled]="disabled">
      Button dropdown <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>

  <!-- Split button -->
  <div class="btn-group" dropdown>
    <button id="split-button" type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle" dropdownToggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
<div class="container">
    <div class="row">
        <div class="col-md-4" style="color:wheat;border-width:2px; border-style:solid; border-radius:6px;text-align:center">
            <img class="img-responsive" src="/media/caring.png" style="width: 100%; height:400px;" />
            <br />
            <br />
            <p>
                Sometimes there are groups, nations, or entire species who protect their individuals fiercely. Though you might be dealing with anything from a Proud Warrior Race to a Hive Mind, be very careful how you treat its members, because they consider harm to one of them to be a declaration of war against all of them and will respond in kind.
            </p>
        </div>
        <div class="col-md-4" style="color:wheat;border-width:2px; border-style:solid; border-radius:6px;text-align:center">
            <img class="img-responsive" src="/media/noburglers.png" style="width: 100%; height:400px;" />
            <br />
            <br />
            <p>
                Sometimes there are groups, nations, or entire species who protect their individuals fiercely. Though you might be dealing with anything from a Proud Warrior Race to a Hive Mind, be very careful how you treat its members, because they consider harm to one of them to be a declaration of war against all of them and will respond in kind.
            </p>
        </div>
        <div class="col-md-4" style="color:wheat;border-width:2px; border-style:solid; border-radius:6px;text-align:center">
            <img class="img-responsive" src="/media/safetyInNumbers.png" style="width: 100%; height:400px;" />
            <br />
            <br />
            <p>
                Sometimes there are groups, nations, or entire species who protect their individuals fiercely. Though you might be dealing with anything from a Proud Warrior Race to a Hive Mind, be very careful how you treat its members, because they consider harm to one of them to be a declaration of war against all of them and will respond in kind.
            </p>
        </div>
    </div>






</div>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <!--<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>-->
    
    <!--<div style="background:orange; width:200px; height:40px;"></div>-->
    
          <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Modal without Overlay</h4>
        </div>
        <div class="modal-body">
          <p>This modal has no overlay.</p>
          <p><strong>Note:</strong> You cannot click outside of this modal to close it.</p>
 
          <bugs-list></bugs-list>
          <p><strong>Note:</strong> You cannot click outside of this modal to close it.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      

  </div>
</div>