<div style="background:black;">
  <!--<h4 class="modal-title">{{userModelItem.name}}</h4>-->

  <form [ngFormModel]="usersForm" #f="ngForm">

    <div *ngIf="userModelItem.imageAsData != null" layout-gt-sm="row" style="text-align:center">
      <img [(src)]="userModelItem.imageAsData" />
    </div>

    <div layout-gt-sm="row">

      <div style="display:none;">
        <label class="copy1">New User: </label>
        <input [(ngModel)]="userModelItem._id" ngControl="_id" placeholder="Name" style="color:black;" />
        <!--<input [(ngModel)]="userModelItem.name" ngControl="name" placeholder="Name" style="color:black;" />-->
        <!--<input [(ngModel)]="userModelItem.phone" ngControl="phone" placeholder="Phone" style="color:black;" />-->
        <!--<input [(ngModel)]="userModelItem.email" ngControl="email" placeholder="Email" style="color:black;" />-->
        <input [(ngModel)]="userModelItem.imageAsData" ngControl="imageAsData" placeholder="imageAsData" />
        <!--<input [(ngModel)]="userModelItem.width" ngControl="width" />-->
        <!--<input [(ngModel)]="userModelItem.height" ngControl="height" />-->
      </div>



      <div *ngIf="action == 'add' || action == 'update'">

        <p-tabView>
          <p-tabPanel header="Details">
            <table style="background-color:black;width:100%;">
              <tr>
                <td style="text-align:left;color:red;">Name</td>
                <td>
                  <input style="color:white;background:black;" type="text" [(ngModel)]="userModelItem.roles.default-group" ngControl="name"
                    placeholder="Name" required/>
                </td>
              </tr>

              <tr>
                <td style="text-align:left;color:red;">createdAt</td>
                <td>
                  <input style="color:white;background:black;" type="text" [(ngModel)]="userModelItem.createdAt" ngControl="createdAt" placeholder="Created"
                    required/>
                </td>
              </tr>

              <tr>
                <td style="text-align:left;color:red;">Email</td>
                <td>
                  <input style="color:white;background:black;" type="text" [(ngModel)]="userModelItem.emails[0].address" ngControl="email"
                    placeholder="Email" required/>
                </td>
              </tr>

            </table>
          </p-tabPanel>
          <p-tabPanel header="Roles">

            <table style="background-color:transparent;width:100%;">
              <tr *ngFor="let role of userModelItem.roles['default-group']; let i = index">
                <td style="text-align:left;color:red;">




                  <!-- Split button -->
                  <div class="btn-group" dropdown>
                    <button id="split-button" type="button" class="btn btn-danger">Action</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" dropdownToggle>
                      <span class="caret"></span>
                      <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                      <li *ngFor="let choice of items">
                        <a (click)="dropDownRoleClick(choice, role, i)" class="dropdown-item" href="#">{{choice}}</a>
                      </li>
                    </ul>
                  </div>

                </td>
                <td>
                  <input style="color:white;background:black;" type="text" [(ngModel)]="userModelItem.roles['default-group'][i]" minlength="3"
                  />
                </td>
                <td>
                  <button (click)="removeRole(role)" class="btn btn-primary btn-sm">Remove</button>
                </td>
              </tr>
            </table>

            <button (click)="newRole()" class="btn btn-primary btn-sm">New Role</button>

            <table style="background-color:transparent;width:100%;">
              <tr>
                <td style="text-align:left;color:red;">Width</td>
                <td>
                  <input style="color:white;background:black;" type="text" [(ngModel)]="userModelItem.width" ngControl="width" placeholder="Width"
                    minlength="3" />
                </td>
              </tr>
              <tr>
                <td style="text-align:left;color:red;">Height</td>
                <td>
                  <input style="color:white;background:black;" type="text" [(ngModel)]="userModelItem.height" ngControl="height" placeholder="Height"
                    minlength="3" />
                </td>
              </tr>
            </table>
          </p-tabPanel>
          <p-tabPanel header="Component Directive here.">
            <!--<ng-include src="/imports/users-form/users-tab1.html"></ng-include>-->
          </p-tabPanel>
        </p-tabView>

        <ad-media-upload (ImageChangedEvent)="ImageChangedEvent($event)"></ad-media-upload>
      </div>





    </div>


    <div class="footer">


      <div style="text-align:right; background:transparent; width:100%;">
        <button *ngIf="action == 'add'" (click)="addUser(f.value)" class="btn btn-primary btn-sm">Add User!</button>
        <button *ngIf="action == 'update'" (click)="updateUser(f.value)" class="btn btn-primary btn-sm">Modify User!</button>
        <button *ngIf="action == 'delete'" (click)="deleteUser(f.value)" class="btn btn-primary btn-sm">Delete User!</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="hideDialog()">Close</button>
      </div>




    </div>
  </form>




</div>
<hr/>